{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for halfday in halfdays %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ halfday.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ halfday.pk }}">
                                    <label class="form-check-label">{{ halfday.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ halfday.price }}</p>
                            </div>
                            <p>{{ halfday.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    {% for fullday in fulldays %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ fullday.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ fullday.pk }}">
                                    <label class="form-check-label">{{ fullday.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ fullday.price }}</p>
                            </div>
                            <p>{{ fullday.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                <button class="btn btn-dark mt-5">Place Order!</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
